@import "tailwindcss";


body {
  padding: 0;;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  
}

.tag {
  font-family: "Pacifico", serif;
  font-weight: 600;
  font-style:normal;
  
  border-radius: 5px;
  
}
/* Shadows Into Light
Static */


#navButton {
  font-family: "Pacifico", serif;
  font-weight: 300;
  font-style: normal;
  
}

#navButton {
  position: relative;
  overflow: hidden;
  border: none;
  
  
  cursor: pointer;
}

#navButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background:linear-gradient(-120deg, #14acf2, #f04494, #0ac578);
  height: 3px;
  
  transition: all 0.3s ease-in-out;
}

#navButton:hover::before {
  
  width:100%; 

}



#para2  {
  color: orange;
  font-family: 'Pacifico', 'Arial Narrow', Arial, sans-serif;
}

#para1 {
 color: rgb(108, 10, 10);
 font-size:x-large;
 font-family: 'Kablammo';
}
#timer{
  
  font-family: 'Pacifico', 'Arial Narrow', Arial, sans-serif;

  
  
  overflow: hidden;
  cursor: pointer;
  
}
#visionpara{
  font-family:'Pacifico', 'Arial Narrow', Arial, sans-serif ;
  color: black;
}

#visionHeading{
  margin-top:12px;
  font-family: 'Kablammo';
}








